* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  } 
.fullbody{
   /*  background-color: rgba(0, 128, 0, 0.8); */
}
       
        /* navbar */
navbar{
    background-color: rgba(0, 128, 0, 0.8);
} 
  
.navbar-brand{
    margin-left: 2rem;
}


        /* card container */
        
.cardcontainer{
    width:100%;
    margin: 70px 0px;
    
    
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    }
.category{
    margin: auto;
}
.discount{
    
    background-color: #be663f;
    width: 2rem;
}
.discount p{
    text-align: center;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{

   /*  content:'';
    background: ff523b;
    height: 5px;
    width: 80px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%; */
    /* transform: translateX(-50%); */
    }
  
.card{
    float: left;
    margin: auto;
  /*   flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px; */
    /* transition: transform 0.5s; */
} 
.card:hover{
     transform: translateY(-50px);
.btn{
    width: 25rem;
    item-aligns: center;
}
.card-title{
    padding-top: 2rem;
}
card-text{
    text-align: center;
}


/* footer */




footer { background: #222; color: #aaa; padding-top: 10px; } footer a { color: #aaa; } footer a:hover { color: #fff; } footer h3 { color: #0894d1; letter-spacing: 1px; margin: 30px 0 20px; } footer .three-column { overflow: hidden; } footer .three-column li{ width: 33.3333%; float: left; padding: 5px 0; } footer .socila-list { overflow: hidden; margin: 20px 0 10px; } footer .socila-list li { float: left; margin-right: 3px; opacity: 0.7; overflow: hidden; border-radius: 50%; transition: all 0.3s ease-in-out; } footer .socila-list li:hover { opacity: 1; } footer .img-thumbnail { background: rgba(0, 0, 0, 0.2); border: 1px solid #444; margin-bottom: 5px; } footer .copyright { padding: 15px 0; background: #333; margin-top: 20px; font-size: 15px; } footer .copyright span { color: #0894d1; }

Resources
